
.navbar {
    width: 100%;
    background: #0A1A44; 
    padding: 15px 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    z-index: 10;
}

.nav-logo {
    letter-spacing: 1px;
}



body {
    margin: 0;
    padding: 0;
    background: #ececec;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 80px; 
}




#form-box {
    width: 380px;
    background: #ffffff;
    padding: 24px;
    border-radius: 18px;
    border: 1px solid #d9d9d9;

    box-shadow:
        6px 6px 12px rgba(0,0,0,0.10),
        -4px -4px 10px rgba(255,255,255,0.85);
}

#form-box h3 {
    margin-bottom: 18px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

/* Inputs */
#form-box input {
    width: 100%;
    padding: 12px;
    margin: 8px 0 12px 0;
    border-radius: 10px;
    border: 1px solid #cfcfcf;
    background: #fafafa;

    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.06);
}

#form-box input:focus {
    outline: none;
    border-color: #4b6cb7;
    box-shadow: 0 0 5px rgba(75,108,183,0.4);
}


#form-box button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, #4B6CB7, #182848);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease;
}

#form-box button:hover {
    transform: scale(1.03);
}




.insta-card {
    width: 380px;
    background: linear-gradient(to bottom, #ffffff, #F3F4F7);
    padding: 24px;
    border-radius: 18px;
    border: 1px solid #d9d9d9;

    box-shadow:
        6px 6px 10px rgba(0,0,0,0.10),
        -4px -4px 10px rgba(255,255,255,0.85);
}


.insta-header {
    margin-bottom: 18px;
}

.username {
    font-size: 22px;
    font-weight: bold;
    color: #333;
}



.profile-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Profile picture */
.profile-pic {
    width: 95px;
    height: 95px;
    background: linear-gradient(135deg, #d5d8e2, #f0f1f5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    color: #333;

    box-shadow:
        inset 3px 3px 5px rgba(0,0,0,0.1),
        inset -3px -3px 5px rgba(255,255,255,0.7);
}


.stats {
    display: flex;
    justify-content: space-between;
    width: 65%;
}

.stats div {
    text-align: center;
}

.stats span {
    font-weight: bold;
    font-size: 18px;
    color: #182848;
}



.info {
    margin-top: 22px;
}

.info strong {
    font-size: 19px;
    color: #222;
}

.extra {
    font-size: 15px;
    color: #444;
    margin-top: 4px;
}
